[alias]
	st = status
	co = checkout
	po = push origin
	poh = push origin head
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[include]
	path = .gitconfig.user
	path = .gitconfig.os
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false

# [commit]
#	gpgsign = true

