[alias]
	st = status
	co = checkout
	po = push origin
	poh = push origin HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	fucked = !git add . && git commit -m "$1" && git push origin head
	unfuck = reset --hard HEAD
[include]
	path = ~/.gitconfig.os
	path = ~/.gitconfig.user

[includeIf "gitdir:~/workspace/"]
    path = ~/.gitconfig.user.ghec

[includeIf "gitdir:~/workspace/personal/"]
    path = ~/.gitconfig.user.github

[includeIf "gitdir:~/.local/share/yadm/repo.git"]
    path = ~/.gitconfig.user.github

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
# [commit]
# 	gpgsign = true
# [gpg]
# 	format = ssh
